<!-- Template ---------------------------------------------------------------->
<template>
  <div data-test-component="toolbar-info" class="info">
    <b style="margin-bottom: 3px;">About</b>
    <p>
      Demo property rental listing app <br>
      built with VueJS and Firebase.
    </p>

    <ul>
      <li>
        <b style="margin-right: 3px;">Dev</b>
        Vinoth Michael Xavier
      </li>
      <li>
        <b>Web</b>
        <a href="https://lookininward.github.io/" target="_blank">
          lookininward.github.io
        </a>
      </li>
    </ul>

    <div class="social">
      <a
        class="fab fa-linkedin"
        href="https://www.linkedin.com/in/vinothmichaelxavier/"
        target="_blank"
      />
      <a
        class="fab fa-gitlab"
        href="https://gitlab.com/lookininward"
        target="_blank"
      />
      <a
        class="fab fa-github"
        href="https://github.com/lookininward"
        target="_blank"
      />
    </div>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  export default {
    name: 'Toolbar-Info'
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    white-space: nowrap;
    text-align: left;
  }

  p {
    margin: 0 0 10px 0;
  }

  ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 15px 0;
  }

  .social {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: $font-xl;

    a {
      margin: 0 10px 0 0;
      cursor: pointer;
      color: $color-black;
      text-decoration:  none;
    }
  }

  a {
    text-decoration: none;
  }
</style>
