<!-- Template ---------------------------------------------------------------->
<template>
  <div class="settings">
    <div
      class="settings__option"
      @click="updateMapStyle('standard')"
    >
      Standard
    </div>
    <div
      class="settings__option"
      @click="updateMapStyle('retro')"
    >
      Retro
    </div>
    <div
      class="settings__option"
      @click="updateMapStyle('dark')"
    >
      Dark
    </div>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  export default {
    name: 'mapStyleSettings',
    methods: {
      updateMapStyle(style) {
        this.$emit('updateMapStyle', style);
      }
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .settings {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    width: 120px;

    .settings__option {
      display: flex;
      align-items: center;
      height: 50px;
      padding-left: 20px;
      text-align: left;
      cursor: pointer;

      &:hover {
        font-weight: 600;
      }
    }
  }
</style>
