<!-- Template ---------------------------------------------------------------->
<template>
  <div
    data-test-component="account-create"
    class="account-create"
  >
    <h1 class="header">
      Create new<br/>Account
    </h1>
    <form class="form">
      <div class="form__inputs">
        <input
          data-test-input="email"
          v-model="form.email"
          class="email"
          :class="errors['email'] ? 'has-error' : ''"
          placeholder="email"
          autocomplete="on"
        />
        <input
          data-test-input="password"
          v-model="form.password"
          class="password"
          :class="errors['password'] ? 'has-error' : ''"
          placeholder="password"
          autocomplete="on"
        />
      </div>
      <button
        class="btn btn--go btn--lg"
        @click="tryCreateAccount"
        type="button"
      >
        Create Account
      </button>
      <div v-if="errors['server']" class="createAccount__error">
        {{errors['server']}}
      </div>
    </form>
    <p class="promptExistingUser">
      Already signed up?
      <a @click="goToRoute('/stays/login')">
        Login
      </a>
    </p>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import { mapActions } from 'vuex'
  export default {
    name: 'AccountCreateForm',

    props: {
      form: {
        type: Object,
        required: true
      },
      errors: {
        type: Object,
        required: true
      },
      tryCreateAccount: {
        type: Function,
        required: true
      }
    },

    methods: {
      ...mapActions(['goToRoute'])
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .account-create { // container
    width: 100%;
    max-width: 300px;
    margin-top: 75px;
    text-align: left;
  }

  .account-create .header { // header // todo: common component
    font-size: 38px;
    margin: 20px 0;
  }

  .account-create .form { // form
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .form__inputs {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
    }

    .form__inputs .email {
      margin-bottom: 30px;
    }

    .form__inputs .email,
    .form__inputs .password {
      padding: 12px 10px;
      border: none;
      border-bottom: 1px solid #ced4da;
      font-size: 16px;
      outline: 0;

      &:focus {
        border-bottom: 1px solid #6fb369;
        transition: border-bottom .5s;
      }

      &.has-error {
        transition: border .5s;
        border-bottom: 1px solid red;
      }
    }
  }

  // Prompt existing users to login
  .promptExistingUser { // todo: create .u-text-center;
    text-align: center;
  }

  .createAccount__error {
    margin-top: 20px;
    font-size: 16px;
    color: red;
  }
</style>
