<!-- Template ---------------------------------------------------------------->
<template>
  <div
    data-test-component="account-create-success"
    class="account-create-success"
  >
    <h1 class="header">
      Welcome to<br/>
      Beyond Borders
    </h1>
    <p class="lead">
      {{user.email}}!
    </p>
    <img class="img" src="@/assets/createAccount__success.svg">
    <p>
      Redirecting...
    </p>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  export default {
    name: 'AccountCreateSuccess',
    props: {
      user: {
        type: Object
      }
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .account-create-success { // container
    width: 100%;
    max-width: 300px;
    margin-top: 75px;
    text-align: center;
  }

  .account-create-success .header { // header // todo: common component
    font-size: 38px;
    margin-bottom: 0;
  }

  .account-create-success .img {
    max-width: 300px;
    margin-bottom: 30px; // todo: utility
  }

  .account-create-success .lead { // todo: common component
    margin: 0;
    color: grey;
    margin-bottom: 20px; // todo: utility
  }
</style>
