<!-- Template ---------------------------------------------------------------->
<template>
  <div data-test-route="create-account" class="createAccount">
    <component
      :is="state"
      :form=form
      :tryCreateAccount="tryCreateAccount"
      :errors=errors
      :user=user
    ></component>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import Loading from '@/components/Loading.vue'
  import Create from '@/components/account/Create.vue'
  import Success from '@/components/account/Success.vue'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'CreateAccount',

    components: {
      Loading,
      Create,
      Success
    },

    data: function() {
      return {
        state: 'Create',
        form: {
          email: null,
          password: null
        },
        errors: {
          email: null,
          password: null,
          server: null
        },
        loading: false
      }
    },

    mounted() {
      // todo: guard route in router.js
      // if (this.user) {
      //   this.$router.push('/')
      // }
    },

    computed: {
      ...mapGetters(['user'])
    },

    methods: {

      ...mapActions(['createAccount', 'goToRoute']),

      _clearErrors() {
        this.errors = {
          email: null,
          password: null,
          server: null
        }
      },

      _validateForm() {
        const form = this.form

        // validate email
        const email = form.email
        if (!email) {
          this.errors['email'] = 'missing'
        }

        // validate password
        const password = form.password
        if (!password) {
          this.errors['password'] = 'missing'
        }

        // check if any errors set
        const errors = this.errors
        const hasErrors = Object.values(errors).some((e) => e)
        return !hasErrors
      },

      _setServerError(error) {
        const codes = {
          'auth/invalid-email' : 'Invalid email',
          'auth/email-already-in-use' : 'The email address is already in use by another account.',
          'auth/weak-password': 'Password should be at least 6 characters'
        }
        this.errors['server'] = codes[error]
      },

      async tryCreateAccount() {
        this._clearErrors() // clear errors
        const formIsValid = this._validateForm() // validate form
        if (formIsValid) {
          this.state = 'Loading'
          try {
            await this.createAccount(this.form)
            this.state = 'Success'
            setTimeout(() => {
              this.goToRoute('/stays/account') // transition to user account
            }, 1500)
          } catch(e) {
            this._setServerError(e)
          }
        }
      }
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .createAccount {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
</style>
