<!-- Template ---------------------------------------------------------------->
<template>
  <div
    data-test-route="listing"
    class="listing"
    :class="this.preview ? 'listing--preview' : ''"
  >
    <div class="detail"><!-- todo: substate component -->

      <div class="listing-header">

        <!-- Address -->
        <div class="address">{{stay.address}}</div>

        <!-- Layout -->
        <div class="layout">

          <!-- Bedrooms -->
          <div class="bedrooms">{{stay.beds}} <i class="fas fa-bed"></i></div>

          <!-- Bathrooms -->
          <div>{{stay.baths}} <i class="fas fa-bath"></i></div>
        </div>
      </div>

      <div class="content">

        <!-- Images -->

        <!-- Cover -->
        <img
           v-if="!preview"
          :src="stay.coverImage"
          class="thumbnail"
        >
        <img
           v-else
          :src="previewGallery[0]"
          class="thumbnail"
        >

        <!-- Gallery -->
        <div v-if="!preview" class="gallery">
          <template v-for="(image, idx) in stay.images">
            <img :key="idx" :src="image" class="img">
          </template>
        </div>

        <div v-else class="gallery">
          <template v-for="(image, idx) in previewGallery">
            <img :key="idx" :src="image" class="img">
          </template>
        </div>

        <!-- Description -->
        <div class="description">
          {{stay.description}}
        </div>
      </div>

      <!-- Actions -->
      <div class="actions">
        <a class="btn btn--go">
          Contact
        </a>
        <div>
          <i class="far fa-star"></i>
          <i class="fas fa-share"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import { mapGetters } from 'vuex';

  export default {
    name: 'stay',

    props: {
      preview: {
        type: Object,
        required: false
      },
    },

    created() {
      // if (!this.activeStay) {
      //   this.$router.push('/');
      // }
    },

    computed: {
      ...mapGetters(['activeStay']),

      stay() {
        return this.preview ? this.preview : this.activeStay
      },

      previewGallery() {
        return this.preview.images.map(image => URL.createObjectURL(image))
      }
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">

  .listing {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &.listing--preview {
      border: 1px dashed black;

      .detail { // state component
        padding: 25px 20px 0 20px;
      }
    }
  }

  .listing .detail { // state component
    display: grid;
    grid-template-rows: auto auto 75px;
    padding: 25px 20px 0 20px;
    text-align: left;
    overflow: scroll;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      max-width: 400px;
      padding: 35px 40px;
    }

    .address {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;

      //-- Tablet, Desktop --
      @media only screen and (min-width: $screen-width-md) {
        font-size: 28px;
      }
    }

    .layout {
      display: flex;
      font-size: 14px;
      margin-bottom: 20px;

      .bedrooms {
        margin-right: 5px;
      }
    }

    .content {
      overflow-y: scroll;

      &::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
        display: none;
      }
      -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    }

    .content .thumbnail {
      object-fit: cover;
      max-height: 150px;
      width: 100%;
    }

    .content .gallery {
      display: flex;
      height: 60px;
      width: 60px;
      margin: 10px 0;

      .img {
        object-fit: cover;
        width: 100%;
        height: 50px;
        margin-right: 10px;
        cursor: pointer;
      }
    }

    .content .description { // todo: utility
      margin-bottom: 20px;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid lightgrey;
      margin-top: 15px;

      // -- Tablet, Desktop --
      @media only screen and (min-width: $screen-width-md) {
        border: none;
      }

      .fa-star {
        margin-right: 10px;
      }

      .fa-star,
      .fa-share {
        font-size: 24px;
        cursor: pointer;
        &:hover {
          color: gold;
        }
      }
    }
  }
</style>
