<!-- Template ---------------------------------------------------------------->
<template>
  <div data-test-route="login" class="login">
    <component
      :is="state"
      :form=form
      :errors=errors
      :attemptLogin="attemptLogin"
      :isLoading="isLoading"
    ></component>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import Loading from '@/components/Loading.vue'
  import Authenticate from '@/components/login/Authenticate.vue'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'Login',

    components: {
      Loading,
      Authenticate
    },

    data: function() {
      return {
        state: 'authenticate',
        form: {
          email: 'demo@beyondborders.io',
          password: '12345678'
        },
        errors: {
          email: null,
          password: null,
          server: null
        },
        isLoading: false
      }
    },

    computed: {
      ...mapGetters(['user'])
    },

    methods: {
      ...mapActions(['login', 'goToRoute']),

      _clearErrors() {
        this.errors = {
          email: null,
          password: null,
          server: null
        }
      },

      _validateForm() {
        const form = this.form

        // validate email
        const email = form.email
        if (!email) {
          this.errors['email'] = 'missing'
        }

        // validate password
        const password = form.password
        if (!password) {
          this.errors['password'] = 'missing'
        }

        // check if any errors set
        const errors = this.errors
        const hasErrors = Object.values(errors).some((e) => e)
        return !hasErrors
      },

      async attemptLogin() {
        this._clearErrors() // clear errors
        const formIsValid = this._validateForm() // validate form
        if (formIsValid) {
          try {
            this.isLoading = true
            await this.login(this.form)
            this.goToRoute('/stays/account')
          } catch(e) {
            this._setServerError(e)
          } finally {
            this.isLoading = false
          }
        }
      },

      _setServerError(error) {
        const codes = {
          'auth/user-not-found' : 'There is no user record corresponding to this identifier. The user may have been deleted.',
          'auth/wrong-password' : 'The password is invalid or the user does not have a password.',
          // 'auth/weak-password': 'Password should be at least 6 characters'
        }
        this.errors['server'] = codes[error]
      }

    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .login {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
</style>
