<!-- Template ---------------------------------------------------------------->
<template>
  <div data-test-route="account-manage" class="account">
    <!-- todo: subcomponents -->

    <!-- Avatar -------------------------------->
    <img
      src="@/assets/michael.jpeg"
      class="profileAvatar"
    />

    <!-- Stats --------------------------------->
    <div class="stats">
      <i class="fas fa-leaf"></i>
      <i class="fas fa-globe-europe"></i>
      <i class="fas fa-umbrella-beach"></i>
      <i class="fas fa-cog"></i>

      <div @click="logout">
        Logout
      </div>
    </div>

    <!-- Stays List ---------------------------->
    <div v-if="myListings.length" class="scrollContainer">
      <template v-for="(stay, idx) in myListings">
        <StayCard :key="idx" :stay=stay />
      </template>
    </div>

  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import StayCard from '@/components/StayCard.vue'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'ManageAccount',

    components: {
      StayCard
    },

    mounted() {
      if (!this.user) {
        this.$router.push('/stays')
      }
    },

    computed: {
      ...mapGetters(['user', 'results']),

      myListings() {
        return this.results.slice(1)
      }
    },

    methods: {
      ...mapActions(['logout']),
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .account {
    display: grid;
    grid-template-rows: auto 60px 1fr;
    width: 100%;
  }

  .account .email { // header // todo: common component
    font-size: 18px;
    margin-bottom: 10px;
  }

  .account .profileAvatar {
    max-width: 130px;
    border-radius: 80px;
    margin: 15px auto;
    border: 5px solid lightgrey;
  }

  .account .stats {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 20px;

    i {
      margin: 0 20px;
      font-size: 28px;
      cursor: pointer;
      transition: .2s;

      &:hover {
        color: blue;
      }
    }
  }

  .account .header.header--myListings {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .account .scrollContainer {
    overflow-y: scroll;
    padding: 15px 15px;
  }
</style>
