<!-- Template ---------------------------------------------------------------->
<template>
  <div data-test-route="messages" class="messages">

    <!-- Topbar -------------------------------->
    <div class="topbar">
      Messages
    </div>

    <!-- Chat Log ------------------------------>
    <div class="chatLog">
      <div v-for="(message, idx) in messages" :key="idx" class="message">
        <img class="img" :src="message.picture">
        <div class="details">
          <div class="name">
            {{message.name}}
            <div class="status" :class="`status--${message.status}`">
            </div>
          </div>
          <div class="lastChat">
            {{message.chatlog[0].text}}
          </div>
        </div>

        <!-- Chat Actions -->
        <i
          class="fas fa-chevron-circle-down chatMenuToggle"
          :class="activeChatId == message.id ? 'is-active' : ''"
          @click="
            activeChatId =
              activeChatId == message.id  ? null : message.id"
          v-on:mouseleave="activeChatId = null"
        >
          <div class="chatMenuActions slide-bottom">
            <div class="chatMenuActions__topbar">
              Actions
            </div>
            <div class="scrollContainer">
              <div class="item">Archive</div>
              <div class="item">Mute</div>
              <div class="item">Delete</div>
              <div class="item">Pin</div>
              <div class="item">Mark as undead</div>
            </div>
            <div class="notifications__topbar">
            </div>
          </div>
        </i>
      </div>
    </div>

    <!-- Actions ------------------------------->
    <div class="actions">
    </div>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import chatLog from '@/fixtures/chatlog.js'

  export default {
    name: 'Messages',

    data() {
      return {
        activeChatId: null
      }
    },

    computed: {
      messages() {
        let messages = chatLog['friends']
        return messages
      }
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .messages { // container
    display: grid;
    grid-template-rows: 50px 1fr 50px; // topbar, chatLog, actions
    width: 100%;
  }

  .topbar {
    border-bottom: 1px solid lightgrey;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5C708F;
    font-size: 20px;
    font-weight: 500;
    color: #F8F8F8;
  }

  .chatLog {
    overflow-y: scroll;
    padding: 0 15px;
  }

  .chatLog .message {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #F8F8F8;
      .chatMenuToggle {
        display: block;
      }
    }

    .img { // profileAvatar
      max-width: 70px;
      border-radius: 50px;
      margin-right: 15px;
    }

    .details {
      display: flex;
      flex-direction: column;
      text-align: left;

      .name {
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;

        .status {
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: lightgrey;
          transition: .2s;
          margin-left: 10px;
        }

        .status.status--active {
          background-color: green;
        }
      }

      .lastChat {
        font-size: 16px;
        color: gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
      }
    }

    .chatMenuToggle {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
      color: #5C708F;

      .chatMenuActions {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 15px;
        width: 200px;
        max-height: 300px;
        overflow: hidden;
        z-index: 9;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        border-radius: 5px;
        color: black;
        background-color: #F8F8F8;
      }

      .chatMenuActions .chatMenuActions__topbar {
        background-color: #FFF;
        padding: 10px 20px;
        border-bottom: 1px solid lightgrey;
        font-family: Arial;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
      }

      .chatMenuActions .item {
        background-color: #F8F8F8;
        padding: 10px 20px;
        border-bottom: 1px solid lightgrey;
        font-family: Arial;
        font-size: 14px;
        font-weight: 500;
        text-align: left;

        &:hover {
          background-color: #FFF;
        }
      }

      &.is-active {
        .chatMenuActions {
          display: flex;
        }
      }
    }
  }

  .actions {
    border-top: 1px solid lightgrey;
  }
</style>
