<!-- Template ---------------------------------------------------------------->
<template>
  <div
    data-test-route="results"
    class="results"
    :class="showToolbar ? 'results--showToolbar' : ''"
  >
    <div class="searchContainer">

      <!-- Button - Search -->
      <div class="searchIcon">
        <i class="fas fa-search-location"></i>
      </div>

      <!-- Searchbar -->
      <input
        data-test-input="search"
        class="searchbar"
        placeholder="Search..."
        v-model="searchTerm"
        v-on:keyup.enter.passive="searchLocation"
      >

      <!-- Button - Toggle Toolbar -->
      <div class="toggleFilters" @click="showToolbar = !showToolbar">
        <i
          data-test-btn="toggleToolbar"
          class="fas"
          :class="showToolbar ? 'fa-caret-up' : 'fa-caret-down'"
        ></i>
      </div>
    </div>

    <!-- Toolbar -->
    <div
      data-test-toolbar="results"
      v-if="showToolbar"
      class="toolbar"
    >
      <div class="section section--1">
        <div class="bedrooms">
          <label class="label">
            Beds
          </label>
          <select data-test-select="beds">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5+</option>
          </select>
        </div>
        <div class="bathrooms">
          <label class="label">
            Baths
          </label>
          <select data-test-select="baths">
            <option>1</option>
            <option>2</option>
            <option>3+</option>
          </select>
        </div>
      </div>

      <div class="section section--2">
        <div class="price__min">
          <label class="label" for="min">Min</label>
          <input
            data-test-input="min"
            id="min"
            type="number"
            v-model="filters.min"
          />
        </div>

        <div class="price__max">
          <label class="label" for="max">Max</label>
          <input
            data-test-input="max"
            id="max"
            type="number"
            v-model="filters.max"
          />
        </div>
      </div>

      <div class="section section--3">
        <div class="furnished">
          <label class="label" for="furnished">Furnished</label>
          <input data-test-input="furnished" id="furnished" type="checkbox">
        </div>
        <div class="sort">
          <label class="label">
            Sort
          </label>
          <select data-test-select="sort">
            <option>$ High to Low</option>
            <option>$ Low to High</option>
            <option>Freshness</option>
          </select>
        </div>
      </div>

    </div>

    <!-- Stays List -->
    <div v-if="results.length" class="scrollContainer">
      <template v-for="(stay, idx) in results">
        <StayCard :key="idx" :stay=stay />
      </template>
    </div>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  /* global google */
  import StayCard from '@/components/StayCard.vue'
  import { mapGetters } from 'vuex'

  export default {
    name: 'Results',

    components: {
      StayCard
    },

    data() {
      return {
        searchTerm: null,
        showToolbar: true,
        filters: {
          min: 1000,
          max: 3000
        }
      }
    },

    computed: {
      ...mapGetters(['activeMap', 'results'])
    },

    methods: {

      searchLocation() {
        let searchTerm = this.searchTerm;
        let activeMap = this.activeMap;
        const geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': searchTerm}, function(results, status) {
          if (status == 'OK') {
            let type = results[0].types[0];
            activeMap.setCenter(results[0].geometry.location);
            if (type =='premise') {
              activeMap.setZoom(15);
            } else if (type =='country') {
              activeMap.setZoom(4);
            } else if (type =='administrative_area_level_1') {
              activeMap.setZoom(10);
            } else {
              activeMap.setZoom(11);
            }
          } else {
            alert('Geocode was not successful: ' + status);
          }
        });
        // Call bounds to initialize Map's bounds event listener
        // maps.get('bounds');
      }
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">

  //-- Layout -----------------------------------
  .results {
    display: grid;
    grid-template-rows: 45px auto;
    padding: 15px;
    width: 100%;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      grid-template-rows: 45px auto;
    }

    &.results--showToolbar {
      grid-template-rows: 45px 100px auto;

      //-- Tablet, Desktop --
      @media only screen and (min-width: $screen-width-md) {
        grid-template-rows: 45px 100px auto;
      }
    }
  }

  //-- Search Container -------------------------
  .results .searchContainer {
    display: flex;
    align-items: center;

    .searchIcon {
      width: 60px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #84829B;
      color: #F8F8F8;
      cursor: pointer;
    }

    .searchbar {
      height: 100%;
      width: 100%;
      padding: 0 20px;
      border: none;
      background-color: #F8F8F8;
      font-size: 20px;
      font-weight: 600;
      text-transform: capitalize;

      //-- Tablet, Desktop --
      @media only screen and (min-width: $screen-width-md) {
        // padding: 0 20px;
        // font-size: 20px;
      }
    }

    .toggleFilters {
      width: 30px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #84829B;
      color: #F8F8F8;
      cursor: pointer;
    }
  }

  //-- Toolbar ----------------------------------
  .results .toolbar {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid lightgrey;
    font-size: 14px;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      padding: 10px;
      font-size: $font-md;
    }

    // section 1 - bedrooms, bathrooms
    .section.section--1 {
      .bedrooms,
      .bathrooms {
        display: flex;
        align-items: center;
      }

      .bedrooms select,
      .bathrooms select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: none;
        border-radius: 5px;
        background-color: #f8f8f8;
        padding: 2px 10px;
      }

      .bedrooms {
        margin-bottom: 15px;
      }

      .bedrooms .label {
        margin-right: 9px;
      }

      .bathrooms .label {
        margin-right: 4px;
      }
    }

    // section 2 - mix, max price
    .section.section--2 {
      .price__min,
      .price__max {
        display: flex;
        align-items: center;
      }

      .price__min input,
      .price__max input {
        border: none;
        border-radius: 5px;
        background-color: #F8F8F8;
        max-width: 45px;
        padding: 2px 15px;

        //-- Tablet, Desktop --
        @media only screen and (min-width: $screen-width-md) {
          max-width: 80px;
        }
      }

      .price__min {
        margin-bottom: 15px;
      }

      .price__min .label {
        margin-right: 8px;
      }

      .price__max .label {
        margin-right: 5px;
      }
    }

    // Furnished, Sort By
    .section.section--3 {
      .furnished,
      .sort {
        display: flex;
        align-items: center;
      }

      .furnished {
        margin-bottom: 10px;
      }

      .furnished .label {
        margin-right: 8px;
      }

      .furnished input {
        margin: 0;
        position: relative;
        top: -1px;
        left: 2px;
      }

      .sort .label {
        display: none;

        //-- Tablet, Desktop --
        @media only screen and (min-width: $screen-width-md) {
          display: block;
          margin-right: 8px;
        }
      }

      .sort select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: none;
        border-radius: 5px;
        background-color: #f8f8f8;
        padding: 2px 10px;
      }
    }
  }

  //-- Container for scrolling list of results --
  .results .scrollContainer {
    overflow-y: scroll;
    margin-top: 15px;
    &::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
      display: none;
    }
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }

  //-- General ----------------------------------
  .label {
    font-weight: 600;
    cursor: pointer;
  }

  select,
  input {
    outline: 0;
    cursor: pointer;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: $font-md;
  }
</style>
