<!-- Template ---------------------------------------------------------------->
<template>
  <div
    data-test-route="stays"
    class="stays"
    :class="staysClasses"
  >
    <!-- Map ----------------------------------->
    <StaysMap v-if="results.length" />
    <div v-else class="skeleton skeleton--map"></div>

    <!-- Toolbar ------------------------------->
    <Toolbar />

    <!-- Stay Sub-Routes ----------------------->
    <div class="subroutes">
      <transition
        :name="transitionName"
        mode="out-in"
      >
        <router-view :key="$route.fullPath" />
      </transition>
    </div>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  const DEFAULT_TRANSITION = 'fade'
  import { mapActions, mapGetters } from 'vuex'
  import StaysMap from '@/components/StaysMap'
  import Toolbar from '@/components/Toolbar'

  export default {
    name: 'home',

    components: {
      StaysMap,
      Toolbar
    },

    data() {
      return {
        transitionName: DEFAULT_TRANSITION
      }
    },

    created() {
      this.$router.beforeEach((to, from, next) => {
        let transitionName =
          to.meta.transitionName || from.meta.transitionName

        if (transitionName === 'slide') {
          const toDepth = to.path.split('/').length
          const fromDepth = from.path.split('/').length
          transitionName =
            toDepth < fromDepth ? 'slide-right' : 'slide-left'
        }

        this.transitionName = transitionName || DEFAULT_TRANSITION
        next()
      })
    },

    watch:{
      $route (to){
        if(to['name'] === 'Results') {
          this._getLocation()
        }
      }
    },


    async mounted() {
      await this.loadResults()
      // this.createMarkers()
    },

    computed: {
      ...mapGetters(['activeMap', 'results']),

      staysClasses() {
        const routeMap = {
          'login': 'stays--login',
          'createAccount': 'stays--createAccount',
          'submitStay': 'stays--submitStay',
          'Results': 'stays--results',
          'ManageAccount': 'stays--ManageAccount'
        }
        let route = this.$route.name
        return routeMap[route]
      }
    },

    methods: {
      ...mapActions(['loadResults', 'createMarkers', 'setLocation']),

      _getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(this.setLocation)
        }
      }

    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">

  .stays {
    display: grid;

    // with map
    grid-template-rows: 200px 1fr;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      grid-template-rows: 1fr;
      grid-template-columns: auto 500px; // map, content
    }

    // without map
    &.stays--login,
    &.stays--submitStay,
    &.stays--createAccount,
    &.stays--ManageAccount {
      grid-template-rows: 1fr;
    }
  }

  .stays .subroutes {
    overflow: hidden;
    display: flex;
    flex: 1;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      margin: 0 15px;
      border: 1px solid lightgrey;
      border-radius: 3px;
    }
  }

  //-- Skeletons --------------------------------
  .skeleton {
    background-color: lightgrey;

    &.skeleton--map {
      margin-left: 15px;
    }
  }

  //-- Sub-Route transitions animations ---------
  .slide-left-enter-active,
  .slide-left-leave-active,
  .slide-right-enter-active,
  .slide-right-leave-active {
    transition-duration: 0.5s;
    transition-property: height, opacity, transform;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    overflow: hidden;
  }

  .slide-left-enter,
  .slide-right-leave-active {
    opacity: 0;
    transform: translate(2em, 0);
  }

  .slide-left-leave-active,
  .slide-right-enter {
    opacity: 0;
    transform: translate(-2em, 0);
  }
</style>
