<!-- Template ---------------------------------------------------------------->
<template>
  <div data-test-route="submit" class="submit wiz">
    <transition name="slide" mode="out-in">
      <component
        :is="!user ? 'Auth' : state"
        :form="form"
        :goToStep="goToStep"
        :goBack="goBack"
        :submitListing="submitListing"
        :preview="preview"
      ></component>
    </transition>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import Auth from '@/components/submit/Auth.vue'
  import Info from '@/components/submit/Info.vue'
  import Images from '@/components/submit/Images.vue'
  import Description from '@/components/submit/Description.vue'
  import Preview from '@/components/submit/Preview.vue'
  import StayForm from '@/lib/stayForm'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'SubmitStay',

    components: {
      Auth,
      Info,
      Images,
      Description,
      Preview
    },

    data() {
      return {
        state: null,
        form: new StayForm()
      }
    },

    created() {
      this.state = this.user ? 'Info' : 'Auth'
    },

    async beforeRouteLeave(to, from, next) {
      await this.removeTemporaryMarker()
      next()
    },

    watch:{
      activeCoordinates(){
        this.form.values.geopoint = this.activeCoordinates
      }
    },

    computed: {
      ...mapGetters(['user', 'activeCoordinates']),

      preview() {
        const values = this.form.values
        return {
          address: values.address,
          beds: values.beds,
          baths: values.baths,
          price: values.price,
          coverImage: values.images[0],
          images: values.images,
          description: values.description
        }
      }
    },

    methods: {
      ...mapActions(['removeTemporaryMarker', 'createListing', 'goToRoute']),

      goToStep(step) {
        if (step === 'Images') {
          this.form.clearErrors()
          if (!this.form.validateForm()) { return }
        }
        this.state = step
      },

      goBack() {
        let state = this.state

        if (state == 'Images') {
          this.state = 'Info'
        }

        if (state == 'Description') {
          this.state = 'Images'
        }

        if (state == 'Preview') {
          this.state = 'Description'
        }
      },

      async submitListing() {
        try {
          await this.createListing(this.form) // upload listing to Firestore
          this.goToRoute('/')
        } catch(e) {
          alert(e)
        }
      }
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .submit { // container
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }

  //-- Animations - Step Transitions ------------
  .slide-enter-active,
  .slide-leave-active {
    transition-duration: 0.5s;
    transition-property: height, opacity, transform;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    overflow: hidden;
  }

  .slide-enter,
  .slide-leave {
    opacity: 0;
    transform: translate(2em, 0);
  }
</style>
