<template>
  <div class="mapContainer">
    <div id="map" class="googleMap" ref="googleMap"></div>
    <template v-if="Boolean(this.google)">
      <slot
        :google="google"
      />
    </template>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    props: {
      mapConfig: Object
    },

    mounted() {
      this.initializeMap()
    },

    computed: {
      ...mapGetters(['google'])
    },

    methods: {
      ...mapActions(['setActiveMap', 'createMarkers']),

      initializeMap() {
        const google = this.google
        const mapContainer = this.$refs.googleMap
        this.setActiveMap(new google.maps.Map(mapContainer, this.mapConfig))
        this.createMarkers()
      }
    }
  }
</script>

<style scoped lang="scss">
  .googleMap {
    width: 100%;
    height: 100%;
  }
</style>
