<!-- Template ---------------------------------------------------------------->
<template>
  <div
    data-test-component="loading"
    class="loading"
  >
    <div class="container">
      <i class="fas fa-spinner"></i>
    </div>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  export default {
    name: 'Loading'
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .loading { // container
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    .container {
      margin-bottom: 100px;
    }

    .container .fa-spinner {
      font-size: 42px;
      animation: spin 1s linear infinite;
    }
  }

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
  }
</style>
