<!-- Template ---------------------------------------------------------------->
<template>
  <div
    data-test-component="nav"
    class="nav"
  >

    <!-- Logo ---------------------------------->
    <div
      data-test-logo
      class="nav__logo"
      @click="goToRoute('/')"
    >
      <div class="nav__logoContent">
        BB
      </div>
    </div>

    <!-- Search -------------------------------->
    <input
      data-test-input="search"
      class="nav__search"
      v-model="searchText"
      :placeholder="searchPlaceholder"
      disabled="true"
      autocomplete="on"
    >

    <!-- Actions ------------------------------->
    <div class="nav__actions">

      <div class="actions actions--left">

        <!-- Results -->
        <button
          data-test-btn="account"
          class="btn btn--default btn--account"
          :class="currentRoute == 'Results' ? 'is-active' : ''"
          style="margin-right: 10px;"
          @click="goToRoute('/')"
        >
          Results
        </button>

        <!-- Notifications -->
        <i
          class="far fa-bell topbarBtn"
          :class="showNotifications ? 'is-active' : ''"
          style="margin-right: 10px"
          @click="showNotifications = !showNotifications"
        >

          <div
            class="notifications slide-bottom"
            v-on:mouseleave="showNotifications = false"
          >
            <div class="notifications__topbar">
              Notifications
            </div>
            <div class="scrollContainer">
              <div
                v-for="(notification, idx) in userNotifications"
                :key="idx"
                class="item"
              >

                <div class="icon">
                  <template v-if="notification.type == 'views'">
                    <i class="far fa-eye"></i>
                  </template>

                  <template v-if="notification.type == 'chat'">
                    <i class="far fa-comment"></i>
                  </template>

                  <template v-if="notification.type == 'alert'">
                    <i class="fas fa-exclamation"></i>
                  </template>
                </div>

                <div class="message">
                  {{notification.message}}
                </div>
              </div>
            </div>
            <div class="notifications__topbar">
            </div>
          </div>
        </i>

        <!-- Chat -->
        <i
          class="far fa-comment topbarBtn topbarBtn--messages"
          :class="currentRoute == 'Messages' ? 'is-active' : ''"
          style="margin-right: 10px"
          @click="goToRoute('/stays/messages')"
        >
        </i>

        <!-- Favourites -->
        <i
          class="far fa-star topbarBtn"
        >
        </i>
      </div>

      <div class="actions actions--right">

        <!-- Submit Stay -->
        <a
          data-test-btn="submitStay"
          class="btn btn--default btn--submit"
          @click="goToRoute('/stays/submit-stay')"
        >
          Submit Stay
        </a>

        <div
          data-test-btn="login"
          v-if="!user"
          class="profileBtn"
          @click="goToRoute('/stays/login')"
        >
          <i class="fas fa-user"></i>
        </div>
        <img
          v-else
          src="@/assets/michael.jpeg"
          class="profileAvatar"
          @click="goToRoute('/stays/account')"
        />
      </div>

    </div>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import notifications from '@/fixtures/notifications.js'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'Navigation',

    data() {
      return {
        searchText: '',
        submitLink:
          'mailto:mxbeyondborders@gmail.com?' +
          'subject=Submit Job - Beyond Borders&body=' +
          'Title%20%3A%0D%0A' +
          'Description (1000 word limit) %20%3A%0D%0A' +
          'Organization%20%3A%0D%0A' +
          'Timezone(s)%20%3A%0D%0A' +
          'Email%20%3A%0D%0A' +
          'Logo (optional) %20%3A%0D%0A' +
          'Link (optional) %20%3A%0D%0A',
        showNotifications: false
      }
    },

    computed: {
      ...mapGetters(['user']),

      searchPlaceholder() {
        let currentRoute = this.$route.name;
        if (currentRoute == 'stays') {
          return 'Need a place to rest your head?';
        } else {
          return '';
        }
      },

      currentRoute() {
        return this.$route.name
      },

      userNotifications() {
        return notifications
      }
    },

    methods: {
      ...mapActions(['logout', 'goToRoute']),

      hideNotifications() {
        this.showNotifications = false
      }
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .nav {
    display: grid;
    grid-template-columns: 65px 1fr; // logo, actions
    position: relative;
    border-bottom: 1px solid lightgrey;
    align-items: center;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      grid-template-columns:  65px 1fr 484px; // logo, actions
      margin-bottom: 15px;
    }

    .nav__logo {
      @include flexCentered(row);
      cursor: pointer;

      .nav__logoContent {
        @include flexCentered(row);
        padding: 5px 8px;
        background-color: #84829B;
        color: #F8F8F8;
        border-radius: 3px;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
      }
    }

    .nav__search {
      display: none;
      border: none;
      padding: 10px 15px;
      font-size: $font-lg;
      outline: 0;

      //-- Tablet, Desktop --
      @media only screen and (min-width: $screen-width-md) {
        display: block;
        background-color: transparent;
      }
    }

    .nav__actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-left: 15px;
      margin-right: 15px;

      @media only screen and (min-width: $screen-width-md) {
        justify-content: space-between;
      }

      .topbarBtn {
        display: none;

        //-- Tablet, Desktop --
        @media only screen and (min-width: $screen-width-md) {
          display: block;
          padding: 7px 10px;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
          font-size: 18px;
          cursor: pointer;
          transition: all .2s;

          &.is-active,
          &:hover {
            background-color: #F2F4F5;
          }
        }

        &.topbarBtn--messages {
          &.is-active {
            background-color: #5C708F;
            color: #F8F8F8;
          }
        }
      }

      .profileBtn,
      .profileAvatar {
        width: 28px;
        height: 28px;
        border: 2px solid $color-grey-3;
        border-radius: 30px;
        margin: 0 5px 0 10px;
        cursor: pointer;
        transition: all .2s;

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;

        &:hover {
          border: 2px solid orange;
        }
      }

      .profileBtn {
        background-color: #F8F8F8;
      }

      .btn--account,
      .btn--submit {
        font-size: 12px;
        font-weight: 500;
      }

    }
  }

  .actions.actions--left,
  .actions.actions--right {
    display: flex;
    align-items: center;
  }

  .fa-star {
    // &:hover {
    //   color: gold;
    // }
  }

  .fa-bell {
    position: relative;

    .notifications {
      display: none;
    }

    &.is-active {
      background-color: #FFC107 !important;
      color: #F8F8F8;

      .notifications {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 300px;
        max-height: 300px;
        overflow: hidden;
        z-index: 9;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        border-radius: 5px;
        color: black;
      }

      .notifications .notifications__topbar {
        background-color: #FFF;
        padding: 10px 20px;
        border-bottom: 1px solid lightgrey;

        font-family: Arial;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
      }

      .notifications .scrollContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: repeat(1fr);
        overflow-y: scroll;
        width: 300px;
      }

      .notifications .item {
        background-color: #F8F8F8;
        border-bottom: 1px solid lightgrey;
        font-family: Arial;
        font-size: 14px;
        text-align: left;

        display: grid;
        grid-template-columns: 40px 1fr;

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;

        }

        .message {
          padding: 10px 5px;
        }

        &:hover {
          background-color: #FFF;
        }
      }
    }
  }
</style>
