<template>
  <GoogleMapLoader
    class="staysMap"
    :mapConfig="mapConfig"
  >
    <template slot-scope="{ google, map }">
      <GoogleMapMarker
        v-for="marker in markers"
        :key="marker.id"
        :marker="marker"
        :google="google"
        :map="map"
      />
    </template>
  </GoogleMapLoader>
</template>

<script>
import GoogleMapLoader from '@/components/GoogleMapLoader'
import GoogleMapMarker from '@/components/GoogleMapMarker'
import { mapSettings } from '@/constants/mapSettings'
import { mapGetters, mapActions} from 'vuex'

export default {
  name: 'staysMap',

  components: {
    GoogleMapLoader,
    GoogleMapMarker
  },

  computed: {
    ...mapGetters(['markers']),

    mapConfig () {
      return {
        ...mapSettings,
        center: {
          lat: 43.654438,
          lng: -79.380699
        }
      }
    }
  },

  methods: {
    ...mapActions(['createMarkers']),
  }
}
</script>

<style scoped lang="scss">
  .staysMap {

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      margin-left: 15px;
    }
  }

  .stays.stays--login .staysMap,
  .stays.stays--createAccount .staysMap,
  .stays.stays--submitStay .staysMap,
  .stays--ManageAccount .staysMap {
    display: none;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      display: block;
    }
  }
</style>
