<!-- Template ---------------------------------------------------------------->
<template>
  <div class="card" @click="goToStay(stay.id)">

    <!-- Cover Image -->
    <img
      v-if="stay.coverImage"
      :src="stay.coverImage"
      class="thumbnail"
    >
    <div v-else class="skeleton skeleton--cover"></div>

    <!-- Address -->
    <div class="address">
      {{stay.address}}
    </div>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'StayCard',

    props: {
      stay: Object
    },

    computed: {
      ...mapGetters(['activeMap']),

      currentRoute() {
        return this.$route.path
      }
    },

    methods: {
      ...mapActions(['setActiveStay']),

      goToStay(stayId) {

        // set map location
        this.activeMap.setCenter({
          lat: this.stay.geopoint.latitude,
          lng: this.stay.geopoint.longitude
        });

        // set map zoom level to location neighbourhood
        this.activeMap.setZoom(15);

        // set activeStay
        this.setActiveStay(this.stay);

        // redirect to activeStay route
        return this.currentRoute == `/${stayId}` ?
               this.$router.push("/") :
               this.$router.push(`/${stayId}`);
      }
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">

  .card {
    height: 50px;
    display: grid;
    grid-template-columns: 125px 1fr;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    overflow: ellipsis;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid $color-black;
      transition: all .3s;
    }
  }

  .card .thumbnail {
    object-fit: cover;
    width: 125px;
    height: 50px;
  }

  .address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px 15px;
    background-color: $color-white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.1;
    text-align: left;
  }

  // Skeletons
  .skeleton {
    background-color: lightgrey;

    &.skeleton--cover {
      // margin-left: 15px;
    }
  }
</style>
