<!-- Template ---------------------------------------------------------------->
<template>
  <div
    data-test-component="toolbar"
    class="toolbar"
  >

    <!-- Expanded Content -->
    <transition name="fade">
      <div
        v-if="state != 'initial'"
        class="toolbar__expandedContainer"
      >
        <component
          :is="state"
          @updateMapStyle="updateMapStyle"
        ></component>
      </div>
    </transition>

    <!-- Favourites -->
    <div
      data-test-item
      class="toolbar-item"
      style="cursor: not-allowed;"
    >
      <i class="far fa-star"></i>
    </div>

    <!-- Map Styles -->
    <div
      data-test-item
      class="toolbar-item"
      v-bind:class="{ 'is-active': state == 'MapStyleSettings' }"
      @click="openSettings('MapStyleSettings')"
    >
      <i class="fas fa-map-marked-alt"></i>
    </div>

    <!-- Data Filters -->
    <div
      data-test-item
      class="toolbar-item"
      style="cursor: not-allowed;"
    >
      <i class="fas fa-sliders-h"></i>
    </div>

    <!-- Info -->
    <div
      data-test-item
      class="toolbar-item"
      v-bind:class="{ 'is-active': state == 'Info' }"
      @click="openSettings('Info')"
    >
      <i class="fas fa-info"></i>
    </div>

  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import MapStyleSettings from '@/components/toolbar/MapStyleSettings'
  import Info from '@/components/toolbar/Info'
  import { darkMap, retroMap } from '@/constants/mapStyles'
  import { mapGetters } from 'vuex'

  export default {
    name: 'Toolbar',

    components: {
      MapStyleSettings,
      Info
    },

    props: {
      showToolbar: Boolean
    },

    data() {
      return {
        state: 'Info',
        isExpanded: false,
        updatingMapStyles: false
      }
    },

    computed: {
      ...mapGetters(['activeMap'])
    },

    methods: {

      openSettings(state) {
        this.state = this.state == state ? 'initial' : state
      },

      close() {
        this.$emit('closeAction')
      },

      updateMapStyle(style) {
        let activeMap = this.activeMap;
        if (style == 'standard') {
          activeMap.setOptions({styles: []});
        } else if (style == 'dark') {
          activeMap.setOptions({styles: darkMap.style});
        } else if (style == 'retro') {
          activeMap.setOptions({styles: retroMap.style});
        }
        this.isExpanded = false;
        this.updatingMapStyles = false;
      }

    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">

  .stays.stays--login {
    .toolbar {
      display: none;
    }
  }

  .toolbar {
    display: none;
    position: absolute;
    bottom: 105px;
    left: 30px;
    background-color: $color-white;

    //-- Desktop --
    @media only screen and (min-width: $screen-width-md) {
      display: grid;
      grid-template-rows: repeat(4, 50px);
    }
  }

  .toolbar-item {
    @include flexCentered(row);
    width: 50px;
    cursor: pointer;

    &:hover,
    &.is-active {
      background-color: $color-grey-3;
      color: $color-white;
    }
  }

  // Toolbar Container
  .toolbar__expandedContainer {
    position: absolute;
    top: 0px;
    left: 50px;
    background-color: $color-white;
    height: 200px;
  }

  // Animations
  .fade-enter-active, .fade-leave-active {
    transition: opacity .4s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
