<!-- Template ---------------------------------------------------------------->
<template>
  <div
    data-test-step="Auth"
    class="auth"
  >
    <h1 class="header">
      List your place<br/> in minutes
    </h1>
    <p class="prompt">
      <button
        data-test-btn="login"
        class="btn btn--go"
        @click="goTo('/stays/login')"
      >
        Login
      </button>
      to submit a new listing!
    </p>
    <img class="img" src="@/assets/auth__submit.svg">
    <p class="prompt">
      No account? Get one
      <button
        data-test-btn="createAccount"
        class="btn btn--default"
        @click="goTo('/stays/create-account')"
      >
        free
      </button>
    </p>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  export default {
    name: 'Auth',
    methods: {
      goTo(route) {
        if (this.$route.path == route) { return }
        this.$router.push(route);
      }
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">

  .auth { // container
    width: 100%;
    // max-width: 250px;
    // margin-top: 15px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-sm) {
      // margin-top: 60px;
      // max-width: 300px;
    }
  }

  .auth .header { // header // todo: common component
    font-size: 32px;
    margin: 20px 0;
    text-align: left;

    //-- Mobile - Standard, Tablet, Desktop --
    @media only screen and (min-width: $screen-width-sm) {
      font-size: 38px;
      margin: 0;
    }
  }

  .auth .img {
    max-width: 200px;
    margin: 30px 0;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      margin: 20px 0;
    }
  }

  .auth .prompt {
    display: flex;
    align-items: center;

    &:nth-child(2) .btn {
      margin-right: 5px;
    }

    &:nth-child(4) .btn {
      margin-left: 5px;
    }
  }
</style>
