<!-- Template ---------------------------------------------------------------->
<template>
  <div
    data-test-step="Description"
    class="description"
  >
    <!-- Header -------------------------------->
    <div class="step">
      <div class="step__back" @click="goBack">Back</div> | Step 3
    </div>

    <h1 class="header">
      Add Description
    </h1>

    <!-- Description --------------------------->
    <textarea
      ref="description"
      class="input__description"
      v-model="form.values.description"
    ></textarea>

    <!-- Next Step: Upload Images -------------->
    <button
      class="btn btn--go btn--md btn--previewSubmit"
      @click="goToStep('Preview')"
    >
      <i class="fas fa-arrow-circle-right"></i> Preview and Submit
    </button>

  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  export default {
    name: 'Description',

    props: {
      form: {
        type: Object,
        required: true
      },
      goBack: {
        type: Function,
        required: true
      },
      goToStep: {
        type: Function,
        required: true
      }
    },

    mounted() {
      this.$refs.description.focus()
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .description { // container
    margin-top: 50px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
  }

  .input__description {
    width: 270px;
    outline: 0;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      width: 375px;
    }
  }

  .btn--previewSubmit {
    align-self: center;
    margin-top: 50px;
    width: 100%;

    i {
      margin-right: 10px;
    }
  }
</style>
