<!-- Template ---------------------------------------------------------------->
<template>
  <div data-test-step="Images" class="images">

    <!-- Header -------------------------------->
    <div class="step">
      <div class="step__back" @click="goBack">Back</div> | Step 2
    </div>

    <h1 class="header">
      Upload and Select Images
    </h1>

    <!-- File DropZone ------------------------->
    <div
      data-test-input="uploadZone"
      id="uploadZone"
      v-if="!files.length && !form.values.gallery.length"
      class="uploadZone"
      v-cloak
      @drop.prevent="addFiles"
      @dragover.prevent
    >
      <input
        data-test-input="images"
        type="file"
        class="input__images"
        @change="addFiles"
        multiple
      />

      <p>
        Drag and Drop or<br>Click to Upload up to 5 Files<br>
      </p>
      <i class="far fa-images"></i>
    </div>

    <!-- Croppie ------------------------------->
    <div id="croppie" style="position: relative;">
      <button
        v-if="croppie"
        class="btn btn--default"
        @click="cropImage"
        style="
          position: absolute;
          right: 10px;
          bottom: 65px;
          z-index: 10;
        "
      >
        Crop
      </button>
    </div>

    <!-- Gallery ------------------------------->
    <div class="gallery">
      <template v-for="(image, idx) in form.values.gallery">
        <img
          :key="idx"
          :src="image.url"
          class="img"
          :class="image.croppedFile ? 'cropped' : ''"
          @click="addToCroppie(idx, image.url)"
        >
      </template>
    </div>

    <!-- Next Step: Upload Images -------------->
    <button
      v-if="allCropped"
      class="btn btn--go btn--md btn--addDescription"
      @click="goToAddDescription"
    >
      <i class="fas fa-arrow-circle-right"></i>
      Give it a short description
    </button>

  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import Croppie from 'croppie'
  import 'croppie/croppie.css'

  export default {
    name: 'Images',

    props: {
      form: {
        type: Object,
        required: true
      },
      goBack: {
        type: Function,
        required: true
      },
      goToStep: {
        type: Function,
        required: true
      }
    },

    data() {
      return {
        croppie: null,
        files: []
      }
    },

    mounted() {
      const gallery = this.form.values.gallery
      if (gallery.length) {
        this.initializeCroppie()
        this.addToCroppie(gallery[0].id, gallery[0].url)
      }
    },

    computed: {
      allCropped() {
        let gallery = this.form.values.gallery
        if (gallery.length) {
          let allCropped = gallery.every(img => img.croppedFile)
          return allCropped
        }
        return false
      }
    },

    methods: {

      addFiles(e) {
        let target = e.dataTransfer ? e.dataTransfer : e.currentTarget;
        let droppedFiles = target.files;
        if (!droppedFiles) return;
        // this tip, convert FileList to array,
        // credit: https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
        ([...droppedFiles]).forEach(f => this.files.push(f))
        this.handleFiles(this.files)
      },

      handleFiles(files) {
        for (let i = 0; i < files.length; i++) {
          let file = files[i];
          if (file.type.startsWith('image/')){
            this.addToGallery(i, file)
          }
        }

        this.initializeCroppie()
        const gallery = this.form.values.gallery
        this.addToCroppie(gallery[0].id, gallery[0].url)
      },

      addToGallery(id, file) {
        const gallery = this.form.values.gallery
        gallery.push({
          id,
          url: URL.createObjectURL(file),
          croppedFile: null
        })
      },

      initializeCroppie() {
        this.croppie = new Croppie(document.getElementById('croppie'), {
          viewport: { width: 300, height: 150 },
          boundary: { height: 180 },
          showZoomer: true,
          enableOrientation: true,
          enforceBoundary: true
        })
      },

      addToCroppie(id, url) {
        this.activeImageId = id
        const croppie = this.croppie
        croppie.bind({
          url,
          orientation: 1
        })
      },

      cropImage() {
        const gallery = this.form.values.gallery
        let croppie = this.croppie
        croppie.result('blob').then(blob => {
          let match = gallery.find(item => item.id === this.activeImageId)
          match.croppedFile = blob
        })
      },

      goToAddDescription() {
        const gallery = this.form.values.gallery
        const images = gallery.map(item => item.croppedFile)
        this.form.addImages(images)
        this.goToStep('Description')
      }

    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .images {
    margin-top: 50px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    min-width: 300px;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      width: 375px;
    }
  }

  .uploadZone {
    border: 2px dashed $color-black;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      width: 375px;
    }

    &:hover {
      background-color: $color-grey-2;
    }

    .fa-images {
      margin-bottom: 20px;
    }
  }

  .preview {
    max-width: 200px;
  }

  .obj {
    max-width: 100px;
    width: 100%;
  }


  .gallery {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;

    .img {
      object-fit: cover;
      width: 50px;
      height: 50px;
      border: 2px solid lightgrey;
      margin-right: 10px;
      cursor: pointer;

      &.cropped {
        border: 2px solid darkgreen;
      }

      &:hover {
        border-color: darkblue;
      }
    }
  }

  .croppie-container {
    height: auto;
  }

  .btn--addDescription {
    align-self: center;
    width: 100%;

    i {
      margin-right: 10px;
    }
  }

  .input__images {
    position: absolute;
    height: inherit;
    width: inherit;
    opacity: 0;
    cursor: pointer;
  }
</style>
