<!-- Template ---------------------------------------------------------------->
<template>
  <div data-test-step="Info" class="info">

    <!-- Header -------------------------------->
    <div class="step">Step 1</div>
    <h1 class="header">What kind of place do you have?</h1>

    <!-- Section 1 -- Beds, Baths -------------->
    <div class="section section--1">
      <div class="bedrooms">
        <label class="label">Beds</label>
        <select
          data-test-select="beds"
          v-model="form.values.beds"
          class="select"
          :class="form.errors['beds'] ? 'has-error' : ''"
        >
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5+</option>
        </select>
      </div>
      <div class="bathrooms">
        <label class="label">Baths</label>
        <select
          data-test-select="baths"
          v-model="form.values.baths"
          class="select"
          :class="form.errors['baths'] ? 'has-error' : ''"
        >
          <option>1</option>
          <option>2</option>
          <option>3+</option>
        </select>
      </div>
    </div>

    <!-- Section 2 -- Price, Furnished --------->
    <div class="section section--2">
      <div class="price">
        <label class="label" for="price">Price</label>
        <input
          data-test-input="price"
          id="price"
          type="number"
          v-model="form.values.price"
          class="input"
          :class="form.errors['price'] ? 'has-error' : ''"
          v-on:focus="focusPrice()"
          v-on:change="form.validateInput('price')"
        />
      </div>
      <div
        data-test-input="furnished"
        class="furnished"
        @click="toggleFurnished"
        :class="form.values.furnished ? 'is-checked' : ''"
      >
        <label
          class="label"
          for="furnished"
          @click="toggleFurnished"
        >
          Furnished
        </label>
        <div
          class="furnished__inputContainer"
        >
          <i class="fas fa-check"></i>
          <input
            ref="furnished"
            data-test-input="furnished"
            id="furnished"
            type="checkbox"
            v-model="form.values.furnished"
            class="input"
            :class="form.errors['furnished'] ? 'has-error' : ''"
          >
        </div>
      </div>
    </div>

    <!-- Section 3 -- Search Address ----------->
    <div class="section section--3">
      <div class="search">
        <label class="label">
          Address
        </label>
        <input
          data-test-input="search"
          class="searchbar"
          :class="form.errors['address'] ? 'has-error' : ''"
          placeholder="e.g. 184 Fleet Street"
          v-model="form.values.address"
          v-on:keyup.enter.passive="checkCoordinates"
          v-on:focus="focusAddress()"
          v-on:blur="form.validateInput('address')"
        >
      </div>

      <div
        data-test-btn="checkCoordinates"
        v-if="!activeCoordinates || !activeCoordinates && !form.values.address"
        class="searchBtn"
        @click="checkCoordinates"
      >
        <i class="fas fa-map-marker-alt"></i>
      </div>

      <div
        v-else
        class="clearBtn btn--danger"
        @click="clearAddress"
      >
        <i class="fas fa-backspace"></i>
      </div>

    </div>

    <!-- Next Step: Upload Images -------------->
    <button
      v-if="activeCoordinates && form.values.address"
      class="btn btn--go btn--md btn--uploadImages"
      @click="goToStep('Images')"
    >
      <i class="fas fa-arrow-circle-right"></i> Upload Images
    </button>

  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'Info',

    props: {
      form: {
        type: Object,
        required: true
      },
      goToStep: {
        type: Function,
        required: true
      }
    },

    data() {
      return {
        confirmInput: false
      }
    },

    computed: {
      ...mapGetters(['activeCoordinates']),
    },

    methods: {
      ...mapActions([
        'setActiveCoordinates',
        'clearActiveCoordinates',
        'removeTemporaryMarker'
      ]),

      focusAddress() {
        this.form.clearError('address')
      },

      focusPrice() {
        this.form.clearError('price')
      },

      clearAddress() {
        this.form.clearInput('address')
        this.clearActiveCoordinates()
        this.removeTemporaryMarker()
      },

      async checkCoordinates() {
        this.form.clearError('address')
        this.form.validateInput('address')
        if (this.form && this.form.values.address) {
          this.setActiveCoordinates(this.form.values.address)
          this.confirmInput = true
        }
      },

      toggleFurnished() {
        this.$refs.furnished.click()
      }
    }
  }

</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .info { // container
    margin-top: 50px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    min-width: 300px;
  }

  .section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  //-- Section 1 -- Beds, Baths -----------------
  .section.section--1 {
    .bedrooms,
    .bathrooms {
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        margin-right: 30px;
      }
    }

    .select {
      width: 100px;
      height: 35px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      border: 1px solid $color-grey-2;
      padding: 8px 15px;
      font-size: $font-sm;
      cursor: pointer;
      outline: 0;
      direction: rtl;
    }

    .label {
      margin-bottom: 5px;
      text-align: left;
    }
  }

  //-- Section 2 -- Price, Furnished ------------
  .section.section--2 {
    .price,
    .furnished {
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        margin-right: 30px;
      }
    }

    .price input {
      padding: 0 10px;
      width: 82px;
      height: 33px;
      border: 1px solid $color-grey-2;
      border-radius: 5px;
      background-color: $color-grey-1;
      max-width: 100px;
      font-size: .8em;
      text-align: right;

      &.has-error {
        transition: border .5s;
        border-color: $color-red;
      }
    }

    .label {
      text-align: left;
      margin-bottom: 8px;
      cursor: pointer;
    }

    .furnished {
      position: relative;
    }

    .furnished .furnished__inputContainer {
      width: 98px;
      height: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $color-grey-2;
      border-radius: 5px;
      background-color: $color-grey-1;
      cursor: pointer;
    }

    .furnished .fa-check {
      opacity: 0;
      position: absolute;
      z-index: 9;
      cursor: pointer;
    }

    .furnished:hover .fa-check,
    .furnished.is-checked .fa-check {
      transition: opacity .5s;
      opacity: 1;
    }

    .furnished .input {
      opacity: 0;
      margin: 0;
    }
  }

  //-- Section 3 -- Address ---------------------
  .section.section--3 {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;

    .label {
      margin-bottom: 5px;
      text-align: left;
    }

    .search {
      display: flex;
      flex-direction: column;
    }

    .searchbar {
      padding: 0 10px 0 10px;
      height: 33px;
      width: 210px;
      border: 1px solid $color-grey-2;
      border-radius: 5px;
      background-color: $color-grey-1;
      font-size: $font-sm;
      font-weight: 600;
      text-transform: capitalize;
      margin-right: 10px;

      &.has-error {
        transition: border .5s;
        border-color: $color-red;
      }
    }

    .searchBtn {
      width: 50px;
      height: 35px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
      background-color: $color-green;
      color: $color-grey-1;
      cursor: pointer;
    }

    .clearBtn {
      width: 50px;
      height: 35px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
      background-color: $color-red;
      color: $color-grey-1;
      cursor: pointer;
    }
  }

  .btn--uploadImages {
    align-self: flex-start;
    margin-top: 50px;
    padding: 0 20px;
    width: 100%;

    .fa-arrow-circle-right {
      margin-right: 10px;
    }
  }
</style>
