<!-- Template ---------------------------------------------------------------->
<template>
  <div
    data-test-step="Preview"
    class="preview"
  >
    <!-- Header -------------------------------->
    <div class="step">
      <div class="step__back" @click="goBack">Back</div> | Step 4
    </div>

    <h1 class="header">
      Preview and Submit
    </h1>

    <!-- Preview ------------------------------->
    <Listing
      :preview="preview"
    />

    <!-- Next Step: Upload Images -------------->
    <button
      data-test-btn="submitListing"
      class="btn btn--go btn--md btn--preview"
      @click="submitListing"
    >
      <i class="fas fa-arrow-circle-right"></i> Submit Listing
    </button>

  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import Listing from '@/views/Listing.vue'

  export default {
    name: 'AddDescription',

    components: {
      Listing
    },

    props: {
      goBack: {
        type: Function,
        required: true
      },
      submitListing: {
        type: Function,
        required: true
      },
      preview: {
        type: Object,
        required: true
      }
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">
  .preview { // container
    margin-top: 50px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      width: 375px;
    }
  }

  .btn--preview {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;

    i {
      margin-right: 10px;
    }
  }
</style>
