<!-- Template ---------------------------------------------------------------->
<template>
  <div
    data-test-component="login-auth"
    class="login-auth"
    :class="isLoading ? 'login-auth login-auth--loading' : ''"
  >
    <h1 class="header">
      Login to<br> Beyond Borders
    </h1>
    <form class="form">
      <div class="form__inputs">
        <input
          data-test-input="email"
          v-model="form.email"
          class="email"
          :class="errors['email'] ? 'has-error' : ''"
          placeholder="email"
          required=true
          autocomplete="on"
        />
        <input
          data-test-input="password"
          v-model="form.password"
          type="password"
          class="password"
          :class="errors['password'] ? 'has-error' : ''"
          placeholder="password"
          required=true
          autocomplete="on"
        />
      </div>
      <button
        data-test-btn="attemptLogin"
        class="btn btn--go btn--lg"
        @click="attemptLogin"
        type="button"
      >
        <template v-if="!isLoading">
          Login
        </template>
        <template v-else>
          <img class="img" src="@/assets/loading__dots.svg">
        </template>
      </button>
      <div v-if="errors['server']" class="form__error">
        {{errors['server']}}
      </div>
    </form>
    <p class="promptNewUser">
      New User?
      <a @click="goToRoute('/stays/create-account')">
        Signup Free
      </a>
    </p>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'Authenticate',
    props: {
      form: {
        type: Object,
        required: true
      },
      errors: {
        type: Object,
        required: true
      },
      attemptLogin: {
        type: Function,
        required: true
      },
      isLoading: Boolean
    },

    methods: {
      ...mapActions(['goToRoute'])
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style scoped lang="scss">

  .login-auth { // container
    width: 100%;
    max-width: 250px;
    margin-top: 15px;
    text-align: left;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-sm) {
      margin-top: 75px;
      max-width: 300px;
    }
  }

  .login-auth .header { // header // todo: common component
    font-size: 32px;
    margin: 20px 0;

    //-- Mobile - Standard, Tablet, Desktop --
    @media only screen and (min-width: $screen-width-sm) {
      font-size: 38px;
    }
  }

  .login-auth .form { // form
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .form__inputs {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
    }

    .form__inputs .email {
      margin-bottom: 30px;
    }

    .form__inputs .email,
    .form__inputs .password {
      padding: 12px 10px;
      border: none;
      border-bottom: 1px solid #ced4da;
      font-size: 16px;
      outline: 0;

      &:focus {
        border-bottom: 1px solid #6fb369;
        transition: border-bottom .5s;
      }

      &.has-error {
        transition: border .5s;
        border-bottom: 1px solid red;
      }
    }

    .img { // dots
      max-width: 30px;
    }

    .form__error {
      margin-top: 20px;
      font-size: 16px;
      color: red;
    }
  }

  // Prompt new users to create account
  .promptNewUser { // todo: create .u-text-center;
    text-align: center;
  }

  // Loading state
  .login-auth.login-auth--loading {
    .btn {
      background-color: lightgrey;
      border: 1px solid lightgrey;
      color: #000;
      cursor: not-allowed;
      transition: all .4s;
    }
  }
</style>
