<!-- Template ---------------------------------------------------------------->
<template>
  <div data-test-app="beyondborders-stays" id="app">
    <Navigation />
    <router-view />
    <div class="footer"></div>
  </div>
</template>

<!-- Script ------------------------------------------------------------------>
<script>
  import GoogleMapsApiLoader from 'google-maps-api-loader'
  import Navigation from '@/components/Navigation.vue'
  import { mapActions } from 'vuex'

  export default {
    components: {
      Navigation
    },

    created() {
      this.setAuthWatcher()
    },

    async mounted() {
      const googleMapApi = await GoogleMapsApiLoader({
        apiKey: process.env.VUE_APP_MAP_API_KEY
      })
      this.setGoogle(googleMapApi)
    },

    methods: {
      ...mapActions(['setAuthWatcher', 'setGoogle'])
    }
  }
</script>

<!-- Style ------------------------------------------------------------------->
<style lang="scss">

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #app {
    @include fontStandard();
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px calc(100vh - 50px); // nav, app body
    overflow: hidden;

    //-- Tablet --
    @media only screen and (min-width: $screen-width-md) {
      grid-template-rows: 65px calc(100vh - 130px) 65px;
    }

    //-- Desktop --
    @media only screen and (min-width: $screen-width-lg) {
      grid-template-rows: 65px calc(100vh - 130px) 65px;
    }

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome and Opera */
  }

  .footer {
    display: none;

    //-- Tablet --
    @media only screen and (min-width: $screen-width-md) {
      display: block;
      margin-top: 15px;
      border-top: 1px solid lightgrey;
    }
  }

  // Animations
  .slide-bottom { // notifications
    -webkit-animation:
      slide-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  /**
   * ----------------------------------------
   * animation slide-bottom
   * ----------------------------------------
   */
  @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }

  //-- Wizards ----------------------------------
  .wiz .step {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: #767676;
    display: flex;
    align-items: center;

    .step__back {
      color: darkblue;
      margin-right: 5px;
      cursor: pointer;
    }
  }

  .wiz .header { // header // todo: common component
    font-size: $font-lg;
    margin: 5px 0 20px 0;

    //-- Mobile - Standard, Tablet, Desktop --
    @media only screen and (min-width: $screen-width-md) {
      font-size: $font-xl;
    }
  }

  .input__description {
    border: none;
    border-radius: 5px;
    background-color: #F8F8F8;
    max-width: 350px;
    width: 100%;
    height: 170px;
    padding: 10px 15px;
    text-align: left;
    font-size: 1em;
    border-bottom: 1px solid transparent;
  }

  //-- TODO --
  input {
    outline: 0;
  }
</style>
