//-- Buttons ----------------------------------
.btn {
  @include flexCentered(row);
  @include fontStandard();
  @include noSelect();
  padding: 3px 8px;
  border-radius: $bdr-radius-1;
  background-color: $bg-color-white;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;

  &.btn--default {
    border: 1px solid $bdr-color-black;
    color: $color-black;

    &.is-active,
    &:hover {
      background-color: $bg-color-grey-3;
      color: $color-white;
    }
  }

  &.btn--go {
    border: 1px solid rgb(111, 179, 105);
    background-color: rgb(111, 179, 105);
    color: $color-white;

    &.is-active,
    &:hover {
      background-color: #28a745;
      border-color: #28a745;
    }
  }

  &.btn--danger {
    border: 1px solid #dc3545;
    background-color: #dc3545;
    color: $color-white;

    &.is-active,
    &:hover {
      border: 1px solid #bd2130;
      background-color: #c82333;
    }
  }

  &.btn--close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $bg-color-grey;
    color: $color-black;

    &:hover {
      background-color: $bg-color-grey-3;
      color: $color-white;
    }
  }

  // sizes
  &.btn--md {
    height: 40px;
    font-size: 20px;
    font-weight: 600;
  }

  &.btn--lg {
    height: 40px;
    font-size: 20px;
    font-weight: 600;

    //-- Tablet, Desktop --
    @media only screen and (min-width: $screen-width-sm) {
      height: 50px;
    }
  }
}

a { // todo: common component;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
