@mixin flexCentered($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin fontStandard() {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: $font-md;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-black;
}

@mixin noSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, supported by Chrome and Opera */
}

@mixin postHTML() { // .post - parent
  text-align: left;

  // wrapper
  .post-detail {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

     @media only screen and (min-width: $screen-width-lg) {
      padding: 50px 0;
    }
  }

  //-- Tags -------------------------------------
  .post-tags {
    @include flexCentered(row);
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  //-- Actions ----------------------------------
  .post-actions {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //-- Description ----------------------------
  .post-description {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: $lineHeight-paragraph;
  }
}
