//-- Text -------------------------------------
.paragraph {
  line-height: $lineHeight-paragraph;
  margin: 5px 0;

  //-- Desktop --
  @media only screen and (min-width: $screen-width-lg) {
    max-width: 400px;
  }
}