//-- Colors -------------------------------------------------------------------
$color-white:          #ffffff;
$color-black:          #2c3e50;
$color-grey-1:         #f8f9fa; // light
$color-grey-2:         #d3d3d3; // medium
$color-grey-3:         #6c757d; // dark
$color-red:            #e60000;
$color-green :         #6fb369;

//-- Backgrounds --------------------------------------------------------------
$bg-color-white:       $color-white;
$bg-color-grey:        $color-grey-1; // light
$bg-color-grey-2:      $color-grey-2; // medium
$bg-color-grey-3:      $color-grey-3; // dark

//-- Borders ------------------------------------------------------------------
//-- Colour -------------------------------------
$bdr-color-black:      $color-black;

//-- Radius -------------------------------------
$bdr-radius-1:         .25rem;

//-- Text ---------------------------------------------------------------------
//-- Font Sizes ---------------------------------
$font-sm:              .8em;
$font-md:              1em;
$font-lg:              1.2em;
$font-xl:              1.5em;
$font-xxl:             2em;

//-- Font Weights -------------------------------
$font-bold:            600;

//-- Line Height --------------------------------
$lineHeight-paragraph: 1.4em;

//-- Screen Sizes -------------------------------------------------------------
// $screen-width-sm:      426px;
$screen-width-sm:      375px;
$screen-width-md:      768px;
$screen-width-lg:      992px;

//-- Box Shadows --------------------------------------------------------------
$box-shadow-light:     0 2px 2px 0 rgba(0, 0, 0, 0.14),
                       0 3px 1px -2px rgba(0, 0, 0, 0.2),
                       0 1px 5px 0 rgba(0, 0, 0, 0.12);
